/* Fondo blanco para todo el contenido */
.custom-background {
  --background: #ffffff;
  --color: #000000;
}

/* Contenedor principal del contenido */
.content-container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centrar elementos horizontalmente */
  justify-content: center; /* Centrar elementos verticalmente */
  height: 100%; /* Ocupa toda la altura disponible */
  text-align: center;
  padding: 20px;
}

/* Imagen centralizada */
.welcome-image {
  max-width: 80%; /* Limitar el ancho de la imagen */
  height: auto; /* Mantener proporción */
  margin-bottom: 20px; /* Espaciado entre la imagen y el texto */
}

/* Texto centralizado */
.welcome-text {
  font-size: 1.5rem;
  color: #003058;
  margin-bottom: 20px; /* Espaciado entre el texto y el botón */
}

/* Menú desplegable */
.dropdown-menu {
  position: absolute;
  top: 40px; /* Ajuste para subir el menú más cerca del botón Cuenta */
  right: 10px; /* Alinea el menú con el borde derecho del botón */
  background-color: #003058; /* Fondo en #003058 */
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 10;
  width: 120px; /* Ancho del menú */
}

.dropdown-menu ion-item {
  --background: #003058; /* Fondo de los ítems en #003058 */
  --color: #ffffff; /* Texto en blanco */
  font-size: 14px;
  font-weight: bold;
  padding: 5px 10px; /* Padding compacto */
  cursor: pointer;
  text-align: center;
}

.dropdown-menu ion-item:hover {
  background-color: #001e36; /* Fondo más oscuro en hover */
}

/* Botones de navegación */
.apartados-container {
  display: flex;
  justify-content: space-around;
  padding: 5px 0;
  background-color: #001e36; /* Mantiene el color de los botones principales */
  height: 30px;
  margin: 0 auto;
  align-items: center;
}

.apartado {
  color: #ffffff;
  --background: transparent;
  --ripple-color: transparent;
  font-size: 14px;
  padding: 0 10px;
  height: 30px;
  line-height: 30px;
  cursor: pointer;
}

/* Encabezado de la página */
.toolbar-tienda {
  --background: #003058;
  min-height: 100px;
  display: flex;
  align-items: center;
}

.titulo-tienda {
  font-size: 24px;
  color: #ffffff;
  margin-left: -90px;
}

.titulo-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}

/* Logo de la UCN */
.logo-ucn {
  height: 40px;
  vertical-align: middle;
  margin-right: 10px;
}
