<ion-header>
  <ion-toolbar class="toolbar-tienda">
    <div class="titulo-container">
      <img src="assets/Escudo-UCN-Logos.png" alt="Logo UCN" class="logo-ucn">
      <ion-title class="titulo-tienda">Tienda UCN</ion-title>
    </div>
  </ion-toolbar>
  <div class="apartados-container">
    <ion-button class="apartado" fill="clear" (click)="navigateToProductPage()">Productos</ion-button>
    <ion-button class="apartado" fill="clear" (click)="navigateToShoppingPage()">Compras</ion-button>
    <ion-button class="apartado" fill="clear" id="accountButton" (click)="navigateToAccountPage()">Cuenta</ion-button>
  </div>
</ion-header>

<ion-content class="custom-background">
  <div class="content-container">
    <p class="empty-message">No hay productos disponibles aún.</p>
  </div>
</ion-content>
