<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      <img src="assets/Escudo-UCN-Logos.png" alt="Logo UCN" style="height: 40px; vertical-align: middle; margin-right: 10px;">
      Tienda UCN
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding custom-background">
  <div class="form-container">
    <h1 class="form-title">Iniciar sesión</h1>
    
    <ion-item>
      <ion-label position="floating">Nombre</ion-label>
      <ion-input placeholder="Escribe tu nombre"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Correo electrónico</ion-label>
      <ion-input type="email" placeholder="nombre@gmail.com"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Fecha de nacimiento</ion-label>
      <ion-input placeholder="DD-MM-YYYY"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Género</ion-label>
      <ion-select placeholder="Selecciona una opción">
        <ion-select-option>Masculino</ion-select-option>
        <ion-select-option>Femenino</ion-select-option>
        <ion-select-option>Otro</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-button expand="block" color="primary" class="submit-button">Ingresar</ion-button>
  </div>
</ion-content>


