/* Fondo blanco para todo el contenido */
.custom-background {
  --background: #ffffff;
  --color: #000000;
}

/* Contenedor del formulario */
.form-container {
  margin-top: 50px;
  padding: 20px;
}

.titulo-tienda {
  font-size: 24px;
  color: #ffffff;
  margin-left: -90px;
}

.titulo-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}

.form-title {
  font-size: 1.5rem;
  color: #003058;
  margin-bottom: 20px;
}

/* Contenedor para inputs con etiquetas fijas */
.input-container {
  margin-bottom: 20px; /* Espaciado entre cada input */
  position: relative;
}

/* Texto fijo encima del input */
.input-label {
  font-size: 14px;
  color: #003058;
  margin-bottom: 5px; /* Espacio entre el texto y el input */
  display: block;
}

/* Estilo de ion-item */
ion-item {
  --highlight-color-focused: #003058;
  --background: #ffffff;
  --color: #000;
  --inner-box-shadow: none; /* Elimina la línea debajo del input */
  --box-shadow: none; /* Asegura que no haya sombras */
  border: 1px solid #000;
  border-radius: 15px;
  margin-bottom: 15px;
  height: 50px;
  padding: 0 10px;
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
}

/* Ajusta los inputs */
ion-input {
  --padding-start: 10px;
  --padding-end: 10px;
  font-size: 16px;
  color: #000;
  height: 100%;
  display: flex;
  align-items: center;
}

/* Botón de envío */
.submit-button {
  margin-top: 20px;
  width: 120px;
  height: 50px;
  border-radius: 50%;
  --box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  --background: #003058;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.toolbar-tienda {
  --background: #003058;
  min-height: 100px;
  display: flex;
  align-items: center;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.apartados-container {
  display: flex;
  justify-content: space-around;
  padding: 5px 0;
  background-color: #001e36;
  height: 30px;
  margin: 0 auto;
  align-items: center;
}

.apartado {
  color: #ffffff;
  --background: transparent;
  --ripple-color: transparent;
  font-size: 14px;
  padding: 0 10px;
  height: 30px;
  line-height: 30px;
}

.logo-ucn {
  height: 40px;
  vertical-align: middle;
  margin-right: 10px;
}
