/* Fondo blanco para todo el contenido */
.custom-background {
  --background: #ffffff;
  --color: #000000;
}

/* Contenedor del formulario */
.form-container {
  margin-top: 50px;
  padding: 20px;
}

/* Título del formulario */
.form-title {
  text-align: center;
  font-size: 1.5rem;
  color: #003f82; /* Azul del encabezado */
  margin-bottom: 20px;
}

/* Estilo para los campos de entrada */
ion-item {
  --background: #ffffff; /* Fondo blanco */
  --border-color: transparent; /* Borde negro */
  --color: #000; /* Texto negro */
  border: 1px solid #000; /* Borde negro alrededor */
  border-radius: 25px; /* Bordes redondeados */
  margin-bottom: 15px; /* Espacio entre los campos */
  padding: 5px 10px; /* Espaciado interno */
}

/* Ajusta los bordes en el foco */
ion-item:focus-within {
  border: 1px solid #003f82; /* Borde azul al tener foco */
}

/* Estilo para los inputs */
ion-input,
ion-select {
  --background: transparent;
  --color: #000;
  padding: 8px;
}

/* Botón de envío */
.submit-button {
  margin-top: 20px;
  border-radius: 25px;
  --box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
