<ion-header>
  <ion-toolbar class="toolbar-tienda">
    <div class="titulo-container">
      <img src="assets/Escudo-UCN-Logos.png" alt="Logo UCN" class="logo-ucn">
      <ion-title class="titulo-tienda">Tienda UCN</ion-title>
    </div>
  </ion-toolbar>
  <div class="apartados-container">
    <ion-button class="apartado" fill="clear">Productos</ion-button>
    <ion-button class="apartado" fill="clear">Compras</ion-button>
    <ion-button class="apartado" fill="clear">Cuenta</ion-button>
  </div>
</ion-header>

<ion-content class="ion-padding custom-background">
  <div class="form-container">
    <h1 class="form-title">Iniciar sesión</h1>
    
    <ion-item class="input-item">
      <ion-label position="floating">Nombre</ion-label>
      <ion-input placeholder=""></ion-input>
    </ion-item>

    <ion-item class="input-item">
      <ion-label position="floating">Correo electrónico</ion-label>
      <ion-input type="" placeholder=""></ion-input>
    </ion-item>

    <ion-item class="input-item">
      <ion-label position="floating">Fecha de nacimiento</ion-label>
      <ion-input type=""></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Género</ion-label>
      <ion-select placeholder="Selecciona una opción">
        <ion-select-option>Masculino</ion-select-option>
        <ion-select-option>Femenino</ion-select-option>
        <ion-select-option>Otro</ion-select-option>
      </ion-select>
    </ion-item>

    <div class="button-container">
      <ion-button class="submit-button">Ingresar</ion-button>
    </div>
  </div>
</ion-content>


